.heart {
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    animation: heart 2s ease infinite;
    background:
    radial-gradient(circle closest-side, currentColor 80%,black 50%, transparent) center/var(--d, 0) var(--d, 0) no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s
  }
  .heart:hover {
    transition: 0.3s, background-size 0.4s 0.3s, color 0.3s 0.3s;
    background-position: center;
    --d: 180%;
    color: #fff
  }
  @keyframes heart {
    96% {
      transform: translate(-50%,-50%) scale(.8,.8)
    }
  
    100% {
      transform: translate(-50%,-50%) scale(1,1)
    }
  }
  
  .heart div {
    background: red;
    width: 71px;
    height: 126px;
    top: 40px;
    display: block;
    position: absolute;
    border-radius: 50%
  }
  
  .left {
    left: 45px;
    transform: rotate(330deg);
  }
  
  .right {
    right: 45px;
    transform: rotate(30deg);
  }